:root {
  --background-primary: #f7f3f4;
  --border-primary: #f7f3f4;
  --tabContainer: #fdf7fb;
  --inner-shadow: 1px 1px 5px #fff, inset -5px -5px 5px hsla(0, 0%, 100%, 0.5),
    inset 1px 1px 10px rgba(0, 0, 0, 0.1);
  --outer-shadow: -5px -5px 10px #fff, 1px 1px 10px rgba(0, 0, 0, 0.1),
    inset 1px 1px 2px hsla(0, 0%, 100%, 0.8);
  --shady: #d5cdd0;
  --dark: #2a171f;
  --polkapink: #f8087b;
  --light-grey: #d5cdd0;
  --dark-grey: #a19a9d;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
.pageBody,
#root {
  height: 100%;
  background-color: var(--background-primary);
  transition: background-color 0.5s linear;
}

.tabBody {
  margin-top: 25px;
  width: 500px;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: var(--tabContainer);
  border-top: 0px;
  margin-right: 0px;
  height: fit-content;
  box-shadow: var(--outer-shadow);
}

.tabHeader {
  height: 20px;
  width: 100%;
  padding: 30px;
  font-size: 25px;
  font-weight: 300;
}

.bottomDiv {
  margin: 10px auto;
  width: 30%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
}
.boxStyle {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin: 1px auto;
  flex-direction: row;
  border-radius: 19px;
  position: relative;
  overflow: hidden;
  border: 1px solid grey;
}
.leftHeader {
  font-size: 14px;
}

.getMax {
  background-color: var(--tabContainer);
  border: var(--border-primary);
  box-shadow: var(--outer-shadow);
  border-radius: 19px;
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--dark-grey);
}

.getMax:active {
  box-shadow: var(--inner-shadow);
}

.boxTemplate {
  width: 75%;
  height: auto;
  display: flex;
  margin: 25px auto;
  padding: 0px 40px 20px 40px;
  flex-direction: column;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--border-primary);
  box-shadow: var(--inner-shadow);
  background-color: var(--background-primary);
}
.boxStyle2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid grey;
}
.selectTab {
  min-width: 150px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  background-color: var(--background-primary);
  padding: 0px 20px 0px 20px;
  border: 1px solid;
  border-image: linear-gradient(#faf4f8, #d5cdd0, #faf4f8) 30;
}
.myStyle1 {
  margin: 10px 30px;
  width: 30%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
}

.btn {
  background-color: var(--background-primary);
  margin: 10px 30px;
  color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  border: var(--border-primary);
  box-shadow: var(--outer-shadow);
}

.btn:active {
  box-shadow: var(--inner-shadow);
  background-color: var(--polkapink);
  color: white;
}

.btn:hover {
  box-shadow: var(--inner-shadow);
}

.connectWalletText {
  padding-left: 8px;
}

.textField {
  width: 70%;
  height: 30px;
  font-size: 22px;
  background-color: var(--background-primary);
  border: 0px;
  font-weight: 800;
  color: var(--dark);
}
.coinWrapper {
  padding: 4px 8px 4px 8px;
  border-radius: 15px;
  border: var(--border-primary);
  color: var(--dark-grey);
  box-shadow: var(--outer-shadow);
  background-color: var(--tabContainer);
  font-size: 15px;
}
.textField::placeholder {
  color: var(--shady);
  font-size: 22px;
  font-weight: 800;
}
.textField:focus-visible {
  outline: none;
}

.boxBody {
  display: flex;
  justify-content: space-between;
}
.rightContent {
  display: flex;
  flex-direction: column;
  font: 20px;
  font-weight: 700;
  width: 150px;
  margin-top: 13px;
}

.rightTopBalance {
  font-size: 13px;
  font-weight: 100;
}

.rightCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.center {
  text-align: center;
}

.tabStyle {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  height: fit-content;
  margin-top: 15px;
  cursor: pointer;
  background-color: var(--background-primary);
  border: var(--border-primary);
}

.tabStyle:focus .tabIcon {
  box-shadow: var(--inner-shadow);
}
.tabStyle:focus .tabIcon svg {
  color: var(--polkapink);
}
.tabStyle:hover .tabIcon svg {
  color: var(--dark-grey);
}
.tabStyle:focus .tabName {
  color: var(--polkapink);
}

.tabIcon {
  height: 50px;
  width: 50px;
  background-color: var(--background-primary);
  border-radius: 50%;
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-primary);
  box-shadow: var(--outer-shadow);
  color: var(--light-grey);
}

.activeTabIcon {
  height: 50px;
  width: 50px;
  background-color: var(--background-primary);
  border-radius: 50%;
  justify-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-primary);
  box-shadow: var(--inner-shadow);
}

.activeTabIcon svg {
  color: var(--polkapink);
}

.tabName {
  padding-left: 10px;
  font-weight: 400;
}

.centerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tabStyle:hover {
  background: rgba(255, 255, 255, 0.05);
}
.alignCenter {
  display: flex;
  justify-content: center;
}
.activeTab {
  background: rgba(255, 255, 255, 0.1);
}

.swapIcon {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.provideIcon {
  height: 30px;
  width: 30px;
}
.withdrawIcon {
  height: 30px;
  width: 30px;
}
.faucetIcon {
  height: 30px;
  width: 30px;
}
.accountIcon {
  height: 28px;
  width: 28px;
}
.appnameIcon {
  height: 28px;
  width: 28px;
  color: var(--polkapink);
}
.middleIcon:hover {
  color: var(--dark-grey);
}
.middleIcon:active {
  box-shadow: var(--inner-shadow);
}

.plusIcon {
  color: var(--dark-grey);
  height: 30px;
  width: 30px;
}

.changeAccountIcon {
  height: 40px;
  width: 30px;
  color: var(--light-grey);
}
.logoutIcon {
  height: 40px;
  width: 30px;
  color: var(--light-grey);
}
.logout:hover .logoutIcon {
  color: var(--dark-grey);
}
.changeActiveAccountIcon:hover .changeAccountIcon {
  color: var(--dark-grey);
}
.connectBtn {
  position: absolute;
  right: 50px;
  top: 20px;
  background-color: #faf4f8;
  color: var(--light-grey);
  height: 30px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border-radius: 30px;
  border: var(--border-primary);
  box-shadow: var(--outer-shadow);
  cursor: pointer;
}

.connectBtn:hover {
  color: var(--dark-grey);
  box-shadow: var(--inner-shadow);
}
.changeActiveAccountIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.miniText {
  color: var(--dark-grey);
  font-size: 15px;
  font-weight: 300;
  padding: 0 5% 0 5%;
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.connected {
  position: absolute;
  right: 50px;
  top: 20px;
  background-color: var(--border-primary);
  color: var(--dark-grey);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border: var(--border-primary);
  box-shadow: var(--inner-shadow);
  border-radius: 30px;
}

.circle {
  border-radius: 50%;
  height: fit-content;
  padding: 2px;
  border: 2px solid var(--light-grey);
  display: flex;
  justify-content: center;
  width: fit-content;
}

.connectedAccountName {
  padding-left: 5px;
  font-weight: 500;
}

.details {
  padding: 15px 10px 15px 0px;
  width: 370px;
  height: fit-content;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
}

.withdrawEstimate {
  height: 30px;
  width: 75%;
  margin: 10px auto;
  color: var(--dark-grey);
}

.detailsBody {
  background-color: #0e0e10;
  width: 90%;
  padding: 10px;
  border-radius: 19px;
}

.centerBody {
  display: flex;
  height: 100%;
}

.selectTolerance {
  width: 90%;
  padding: 5%;
}

.toleranceHeading {
  color: var(--dark-grey);
  font-weight: 500;
}

.toleranceValues {
  margin-top: 10px;
  background-color: var(--background-primary);
  border: var(--border-primary);
  box-shadow: var(--inner-shadow);
  height: 30px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.toleranceCard {
  width: 25%;
  height: 80%;
  color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selectedTolerance {
  background-color: var(--tabContainer);
  border: var(--border-primary);
  box-shadow: var(--outer-shadow);
  border-radius: 15px;
  color: var(--polkapink);
}
.transactionFee {
  color: var(--dark-grey);
  padding: 5%;
  font-size: 15px;
  font-weight: 400;
}
.navBar {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  min-height: 64px;
  box-shadow: 240px 16px 32px -16px #e5dce0;
  background-color: var(--background-primary);
}

.appName {
  font-size: 28px;
  font-weight: 800;
  color: #492067;
}

.error {
  color: var(--dark-grey);
  display: flex;
  justify-content: flex-start;
  padding: 0px 20px;
}

.accountDetail {
  background-color: var(--background-primary);
  height: 55px;
  border-radius: 30px;
  border: var(--border-primary);
  box-shadow: var(--inner-shadow);
  margin: 5%;
  display: flex;
}

.accountDetailsText {
  display: flex;
  flex-direction: column;
  padding: 7px;
  width: 60%;
  padding-left: 10px;
}

.accountdetailIcon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.accountDetailHeader {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
}

.accountDetailAddress {
  font-size: 13px;
  color: var(--dark-grey);
  padding-top: 4px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accountWrapper {
  margin: 5%;
  border: var(--border-primary);
  border-radius: 30px;
  height: 55px;
  box-shadow: var(--inner-shadow);
  background-color: var(--background-primary);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.accountWrapper:hover {
  border: var(--dark);
}

.accountTextSection {
  padding: 5%;
}

.accounticon {
  margin-left: 3%;
}

.accountConnectBtn {
  border: var(--border-primary);
  box-shadow: var(--inner-shadow);
  background-color: var(--background-primary);
  margin: 5%;
  color: var(--dark-grey);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  height: 30px;
  align-items: center;
  font-size: 18px;
}

.accountConnectBtn:hover {
  color: white;
  background-color: var(--polkapink);
}

.Assets {
  padding: 5%;
}

.assetsHeading {
  font-size: 20px;
  color: var(--dark-grey);
  margin-bottom: 20px;
}

.assetBody {
  background-color: var(--background-primary);
  border: var(--border-primary);
  box-shadow: var(--inner-shadow);
  border-radius: 30px;
  height: fit-content;
}

.row {
  width: 100%;
  display: flex;
  height: 30px;
  padding: 5px;
}

.attributeName {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-grey);
}

.attributeValue {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-grey);
}
